{% extends 'base.html' %}

{% block content %}
        <div id="banner">
                <h1>BRF Chainmaille</h1>
        </div>
        <div class="all-info">
                <div class="welcome-info">
                        <h1>Welcome!</h1>
                        <p>This is the main webpage for the Chainmaille club from BRF HS. To view our stock, click the button below.
                        To recieve any item that you see on our webpage, bring payment to Mr. Wildenbergs room (rm148) and the products 
                        will be given out on a first come first serve basis.
                        <a href="{% url 'all_stock' %}" style="margin-top: 2vh; margin-bottom: 2vh;">View Our Stock</a>
                </div>
                <div class="about-info">
                        <h1>About</h1>
                        <p>The goal of this site is to give customers a more efficient way of viewing all of the items that they have to choose from in an organized fashion. 
                        There is no guarantee that you will recieve an item you see will still be available when you arrive. So get here quickly!
                        </p>
                        <p><b>Questions?</b> Contact <u>nathan.wildenberg@brf.org</u> or <u>kovartyr23@students.brf.org</u></p>
                        <a target="_blank" href="https://www.instagram.com/zachcheeto" style="color: inherit;"><p>instagram: @zachcheeto</p></a>
                </div>
                <div class="featured-items">
                        <h1>Featured Items</h1>
                        <div style="display: flex; flex-direction: column; align-items: center;">
                                {% for item in featured_items %}
                                <a href="{% url 'detail' item.id %}">
                                        <div class="item" style="max-width: 10vw;">
                                                {% with item.images.all|first as imageobj %}
                                                <img class="sized" src="{{ imageobj.image.url }}">
                                                {% endwith %}
                                                <div class="details">
                                                <h2>{{ item.title }}</h2>
                                                <p id="type">({{ item.get_item_type_display }})</p>
                                                <p>Price: ${{ item.price }}0</p>
                                                <p>Available: {{ item.available }}</p>
                                                </div>
                                        </div>
                                </a>
                                {% endfor %}
                        </div>
                </div>
        </div>
{% endblock content %}
